body {margin: 0 auto}
#header{
    background-color: blue;
}

#navibar{
    background-color: #808080;
}

#main{
    background-color: green;
}

#sidebar{
    background-color: yellowgreen;
}

#footer {
    background-color: palegoldenrod;
}

